import java.util.Scanner;
public class usluSayiHesaplama {
    public static void main(String[] args){
        int n,t;

        Scanner inp = new Scanner(System.in);
        System.out.print("Üssü alınacak sayıyı giriniz: ");
        n = inp.nextInt();
        System.out.print("Üs olacak sayıyı giriniz: ");
        t = inp.nextInt();
        int total=1;

        for ( int i =1; i<=t; i++){
            total *= n;
        }
        System.out.println("Cevap: " +total);
    }
}
